/* Dashboard.css */

.dashboard {
    display: flex;
}

.dashboard-content {
    padding: 20px;
    flex-grow: 1;
    background-color: #ecf0f1;
}

/* Hier kannst du weitere Stile für den Dashboard-Inhalt hinzufügen */
