/* Dashboard.css */

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-left: 0; /* Initialer Wert */
    transition: margin-left 0.3s; /* F端ge eine Transition f端r ein sanftes Verschieben hinzu */
}

.sidebar-open .dashboard {
    margin-left: 250px; /* Oder den gew端nschten Wert basierend auf der Sidebar-Breite */
}

.dashboard-content {
    margin-left: 90px;
    margin-top: 10px;
    flex-grow: 1;
    background-color: #ecf0f1;
}

h1 {
    transition: margin-left 0.3s;
}

/* Weitere Stile f端r den Dashboard-Inhalt */
