/* src/Components/Homepage.css */

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.mspl-text {
    font-weight: bold;
    color: #176B87  ;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.bubble-button {
    background-color: #66cdaa;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    position: relative;
    animation: float 5s infinite;
    cursor: pointer;
}

.arrow {
    color: black;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.microsoftlogo{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    transform: translate(-50%, -50%);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.Homepage {
    text-align: center;
}
