@media (min-width: 1801px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 600px;
        margin-top: 16px;
        height: 55px;
    }

    .paper_container {
        width: 1200px;
        overflow: hidden;
        margin-top: 16px;
    }

    .tableContainer{
        max-height: 65vh;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

}


/*-------------------------------------------------------------------------------------------------------------*/


    @media (min-width: 1301px) and (max-width: 1800px) {

        .titel{
            color: black;
        }

        .specificContent{
            margin-top: 20px;
        }

        .flexContainer {
            display: flex;
        }

        .textField {
            width: 550px;
            margin-top: 16px;
            height: 55px;
        }

        .paper_container {
            width: 1120px;
            overflow: hidden;
            margin-top: 16px;
        }

        .tableContainer{
            max-height: 65vh;
            overflow: auto;
        }

        .stickyHeader th{
            position: sticky;
            background-color: #fff;
            z-index: 10;
            top: 0;
        }

    }


    /*-------------------------------------------------------------------------------------------------------------*/


    @media (min-width: 1101px) and (max-width: 1300px) {

    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 480px;
        margin-top: 16px;
        height: 55px;
    }

    .paper_container {
        width: 980px;
        overflow: hidden;
        margin-top: 16px;
    }

    .tableContainer{
        max-height: 65vh;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

}


/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 1001px) and (max-width: 1100px) {

    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 400px;
        margin-top: 16px;
        height: 55px;
    }

    .paper_container {
        width: 820px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 500px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }

}


/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 901px) and (max-width: 1000px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 350px;
        margin-top: 16px;
        height: 55px;
    }

    .paper_container {
        width: 720px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 500px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 801px) and (max-width: 900px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 300px;
        margin-top: 16px;
        height: 55px;
    }

    .paper_container {
        width: 620px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 300px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 701px) and (max-width: 800px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 250px;
        margin-top: 16px;
        height: 55px;
    }

    .paper_container {
        width: 520px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 300px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/



@media (min-width: 601px) and (max-width: 700px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 230px;
        margin-top: 16px;
        height: 55px;
        position: relative;
        left: -50px;
    }

    .paper_container {
        width: 480px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 300px;
        position: relative;
        left: -50px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 501px) and (max-width: 600px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 190px;
        margin-top: 16px;
        height: 55px;
    }

    .paper_container {
        width: 400px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 300px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 451px) and (max-width: 500px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 150px;
        margin-top: 16px;
        height: 55px;
        position: relative;
        left: -50px;
    }

    .paper_container {
        width: 320px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 300px;
        position: relative;
        left: -50px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 401px) and (max-width: 450px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 130px;
        margin-top: 16px;
        height: 55px;
        position: relative;
        left: -50px;
    }

    .paper_container {
        width: 280px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 300px;
        position: relative;
        left: -50px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 301px) and (max-width: 400px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 120px;
        margin-top: 16px;
        height: 55px;
        position: relative;
        left: -50px;
    }

    .paper_container {
        width: 260px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 300px;
        position: relative;
        left: -50px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/


@media (min-width: 0px) and (max-width: 300px) {
    .titel{
        color: black;
    }

    .specificContent{
        margin-top: 20px;
    }

    .flexContainer {
        display: flex;
    }

    .textField {
        width: 100px;
        margin-top: 16px;
        height: 55px;
        position: relative;
        left: -50px;
    }

    .paper_container {
        width: 220px;
        overflow: hidden;
        margin-top: 16px;
        max-height: 300px;
        position: relative;
        left: -50px;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
        z-index: 10;
        top: 0;
    }
}
