@media (min-width: 1101px) {
    .flex-container {
        display: flex;
    }

    .text-field-benutzerverwaltung{
        position: relative;
        width: 90%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .table-container-benutzerverwaltung{
        max-height: 70vh;
        width: 100%;
        overflow: auto;
    }

    .paper-container-benutzerverwaltung {
        position: relative;
        max-height: 65vh !important;
        width: 90% !important;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

    /*
    .container-klassenverwaltung {
        position: fixed;
        width: 20%;
        margin-left: 63%;
        margin-top: -46%;
    }

    .button-hinzufügen {
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        width: 100%;
        height: 50px;
    }
*/


    .container-klassenverwaltung {
        width: 30%;
        padding: 10px;
    }

    .button-hinzufügen {
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        width: 100%;
        height: 50px;
        margin-bottom: 5%;
    }

}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 1001px) and (max-width: 1100px) {
    .flex-container {
        display: flex;
    }

    .text-field-benutzerverwaltung{
        position: relative;
        width: 90%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        position: relative;
        max-height: 65vh !important;
        width: 90% !important;
        overflow: auto;
    }

    .table-container-benutzerverwaltung{
        max-height: 60vh;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

    .container-klassenverwaltung {
        width: 30%;
        padding: 10px;
    }

    .button-hinzufügen {
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        width: 100%;
        height: 50px;
    }

}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 901px) and (max-width: 1000px) {
    .flex-container {
        display: flex;
    }

    .text-field-benutzerverwaltung{
        position: relative;
        width: 90%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        position: relative;
        max-height: 65vh !important;
        width: 90% !important;
        overflow: auto;
    }

    .table-container-benutzerverwaltung{
        max-height: 60vh;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

    .container-klassenverwaltung {
        width: 30%;
        left: 70%;
        padding: 10px;
    }

    .button-hinzufügen {
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        width: 100%;
        height: 50px;
    }

}

/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 801px) and (max-width: 900px) {
    .flex-container {
        display: flex;
    }

    .text-field-benutzerverwaltung{
        position: relative;
        width: 90%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        position: relative;
        max-height: 65vh !important;
        width: 90% !important;
        overflow: auto;
    }

    .table-container-benutzerverwaltung{
        max-height: 60vh;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

    .container-klassenverwaltung {
        width: 40%;
        padding: 10px;
    }

    .button-hinzufügen {
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        width: 100%;
        height: 50px;
    }

}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 701px) and (max-width: 800px) {
 .flex-container {
        display: flex;
    }

    .text-field-benutzerverwaltung{
        position: relative;
        width: 90%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        position: relative;
        max-height: 65vh !important;
        width: 90% !important;
        overflow: auto;
    }

    .table-container-benutzerverwaltung{
        max-height: 60vh;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

    .container-klassenverwaltung {
        width: 40%;
        padding: 10px;
    }

    .button-hinzufügen {
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        width: 100%;
        height: 50px;
    }

}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 601px) and (max-width: 700px) {
    .flex-container {
        display: flex;
    }

    .text-field-benutzerverwaltung{
        position: relative;
        width: 90%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        position: relative;
        max-height: 65vh !important;
        width: 90% !important;
        overflow: auto;
    }

    .table-container-benutzerverwaltung{
        max-height: 60vh;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }
    .container-klassenverwaltung {
        width: 50%;
        padding: 10px;
    }

    .button-hinzufügen {
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        width: 100%;
        height: 50px;
    }

}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 451px) and (max-width: 600px) {
    .flex-container {
        display: flex;
    }

    .text-field-benutzerverwaltung{
        position: relative;
        width: 90%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        position: relative;
        max-height: 65vh !important;
        width: 90% !important;
        overflow: auto;
    }

    .table-container-benutzerverwaltung{
        max-height: 60vh;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

    .container-klassenverwaltung {
        width: 60%;
        padding: 10px;
    }

    .button-hinzufügen {
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        width: 100%;
        height: 50px;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 401px) and (max-width: 450px) {


    .flex-container {
        display: flex;
    }

    .table-container-benutzerverwaltung{
        left: -20%;
        max-height: 60vh;
        overflow: auto;
    }

    .text-field-benutzerverwaltung{
        left: -20%;
        position: relative;
        width: 110%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        left: -20%;
        position: relative;
        max-height: 65vh !important;
        width: 110% !important;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

    .container-klassenverwaltung {
        left: -25%;
        width: 100%;
        padding: 10px;
    }

    .button-hinzufügen {
        left: -25%;
        margin-bottom: 18px !important;
        height: 50px;
        width: 110%;
    }

    .formControl{
        left: -25%;
        margin-bottom: 18px !important;
        height: 50px;
        width: 110%;
    }

    .button-loeschen{
        left: -25%;
        width: 110%;
        height: 50px;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 301px) and (max-width: 400px) {
    .flex-container {
        display: flex;
    }

    .table-container-benutzerverwaltung{
        left: -20%;
        max-height: 60vh;
        overflow: auto;
    }

    .text-field-benutzerverwaltung{
        left: -20%;
        position: relative;
        width: 110%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        left: -20%;
        position: relative;
        max-height: 65vh !important;
        width: 110% !important;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }

    .container-klassenverwaltung {
        left: -25%;
        width: 100%;
        padding: 10px;
    }

    .button-hinzufügen {
        left: -25%;
        margin-bottom: 18px !important;
        height: 50px;
        width: 110%;
    }

    .formControl{
        left: -25%;
        margin-bottom: 18px !important;
        height: 50px;
        width: 110%;
    }

    .button-loeschen{
        left: -25%;
        width: 110%;
        height: 50px;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 0px) and (max-width: 300px) {
    .flex-container {
        display: flex;
    }

    .table-container-benutzerverwaltung{
        left: -20%;
        max-height: 60vh;
        overflow: auto;
    }

    .text-field-benutzerverwaltung{
        left: -20%;
        position: relative;
        width: 110%;
        height: 50px;
        margin-bottom: 18px !important;
    }

    .paper-container-benutzerverwaltung {
        left: -20%;
        position: relative;
        max-height: 65vh !important;
        width: 110% !important;
        overflow: auto;
    }

    .stickyHeader th{
        position: sticky;
        background-color: #fff;
        z-index: 10;
        top: 0;
    }
    .container-klassenverwaltung {
        left: -25%;
        width: 100%;
        padding: 10px;
    }

    .button-hinzufügen {
        left: -25%;
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .formControl{
        left: -25%;
        margin-bottom: 18px !important;
        height: 50px;
        width: 100%;
    }

    .button-loeschen{
        left: -25%;
        width: 100%;
        height: 50px;
    }
}