@media (min-width: 1101px) and (max-width: 3000px) {

    .Titel {
        color: black;
        margin-bottom: 30px;
    }

    .flex-container {
        display: flex;
    }

    .text-field {
        position: relative;
        width: 65%;
        height: 45px;
        margin-bottom: 40px !important;
    }

    .paper-container-benutzer{
        position: relative;
        max-height: 70vh !important;
        overflow: auto;
        width: 65% !important;
    }

    .sticky-header th {
        position: sticky;
    }

    .container-klassenverwaltung {
        position: fixed;
        top: 0;
        right: 80px;
        padding: 10px;
    }

    .button-hinzufügen{
        margin-top: 85px!important;
        margin-bottom: 20px!important;
        position: relative;
        height: 50px;
        width: 310px;
    }

    .button-loeschen{
        margin-left: 10px !important;
        height: 55px;
    }



}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 1001px) and (max-width: 1100px) {

    .Titel {
        color: black;
    }

    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 900px;
        height: 45px;
        margin-bottom: 25px !important;
    }


    .benutzer-paper-container {
        position: relative;
        max-height: 800px !important;
        overflow: auto;
        width: 900px !important;
    }


    .sticky-header th {
        position: sticky;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 901px) and (max-width: 1000px) {

    .Titel {
        color: black;
    }

    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 750px;
        height: 45px;
        margin-bottom: 25px !important;
    }


    .benutzer-paper-container {
        position: relative;
        max-height: 1000px;
        overflow: auto;
        width: 750px !important;
    }


    .sticky-header th {
        position: sticky;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 801px) and (max-width: 900px) {

    .Titel {
        color: black;
    }

    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 600px;
        height: 45px;
        margin-bottom: 25px !important;
    }


    .benutzer-paper-container {
        position: relative;
        max-height: 900px !important;
        overflow: auto;
        width: 600px !important;
    }


    .sticky-header th {
        position: sticky;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 701px) and (max-width: 800px) {

    .Titel {
        color: black;
    }

    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 550px;
        height: 45px;
        margin-bottom: 25px !important;
    }


    .benutzer-paper-container {
        position: relative;
        max-height: 900px;
        overflow: auto;
        width: 550px !important;
    }


    .sticky-header th {
        position: sticky;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 601px) and (max-width: 700px) {

    .Titel {
        color: black;
    }

    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 75vw;
        height: 45px;
        margin-bottom: 25px !important;
    }


    .benutzer-paper-container {
        position: relative;
        max-height: 50vh;
        overflow: auto;
        max-width: 75vw;
    }


    .sticky-header th {
        position: sticky;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 451px) and (max-width: 600px) {
    .Titel {
        color: black;
        font-size: 30px;
        left: -20px;
        top: 1px;
    }

    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 400px;
        left: -50px;
        height: 40px;
        margin-bottom: 25px !important;

    }

    .benutzer-paper-container {
        position: relative;
        max-height: 400px;
        overflow: auto;
        left: -50px !important;
        width: 400px !important;
    }


    .sticky-header th {
        position: sticky;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 401px) and (max-width: 450px) {

    .Titel {
        color: black;
        position: relative;
        left: -20px;
        font-size: 25px;
    }

    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 320px;
        left: -50px;
        height: 40px;
        margin-bottom: 25px !important;
    }


    .benutzer-paper-container {
        position: relative;
        max-height: 60vh;
        overflow: auto;
        left: -50px !important;
        width: 320px !important;
    }


    .sticky-header th {
        position: sticky;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 301px) and (max-width: 400px) {

    .Titel {
        color: black;
        position: relative;
        left: -20px;
        font-size: 25px;
        top: 7px;
    }


    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 310px;
        left: -50px;
        height: 45px;
        margin-bottom: 25px !important;
    }

    .benutzer-paper-container {
        position: relative;
        max-height: 400px;
        overflow: auto;
        left: -50px !important;
        max-width: 310px;
    }


    .sticky-header th {
        position: sticky;
    }
}


/*----------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 0px) and (max-width: 300px) {
    .Titel {
        color: black;
        position: relative;
        left: -20px;
        font-size: 25px;
        top: 7px;
    }

    .flex-container {
        display: flex;
    }

    .benutzer-search-box {
        position: relative;
        width: 270px;
        left: -50px;
        height: 45px;
        margin-bottom: 25px !important;
    }

    .benutzer-paper-container {
        position: relative;
        max-height: 90vh;
        overflow: auto;
        width: 270px !important;
        left: -50px !important;
    }


    .sticky-header th {
        position: sticky;
    }
}