/* styles.css */
.Titel{
    color: black;
}

.specific-content{
    margin-top: 20px;
}

.flexContainer {
    display: flex;
}

.textField {
    width: 80%;
    margin-top: 16px;
    height: 55px;
}

.paper-container {
    width: 80%;
    overflow: hidden;
    margin-top: 16px;
}

.table-container{
    max-height: 65vh;
    overflow: auto;
}

.sticky-header th{
    position: sticky;
    background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
    z-index: 10;
    top: 0;
}

/* Stile für Bildschirmbreite bis 768 Pixel */
@media (max-width: 768px) {
    .Titel {
        color: black; /* Beispiel: Änderung der Textfarbe für kleinere Bildschirme */
    }

    .specific-content {
        margin-top: 16px; /* Beispiel: Änderung des oberen Randes für kleinere Bildschirme */
    }

    .textField {
        width: 98%; /* Beispiel: Vollständige Breite für Suchfeld auf kleineren Bildschirmen */
        margin-bottom: 16px;
    }

    .button-container {
        width: 98%; /* Beispiel: Vollständige Breite für Button-Container auf kleineren Bildschirmen */
    }

    .paper-container {
        width: 98%; /* Beispiel: Vollständige Breite für Papier-Container auf kleineren Bildschirmen */
        overflow: hidden;
        margin-top: 16px;
    }

    .table-container {
        max-height: 768px; /* Beispiel: Reduziere die maximale Höhe für Tabellencontainer auf kleineren Bildschirmen */
        overflow: auto;
    }

    .table-cell-center {
        text-align: center;
    }
}

@media (max-width: 428px) {
    .Titel {
        color: black; /* Beispiel: Änderung der Textfarbe für kleinere Bildschirme */
    }

    .specific-content {
        margin-top: 16px; /* Beispiel: Änderung des oberen Randes für kleinere Bildschirme */
    }

    .textField {
        width: 98%; /* Beispiel: Vollständige Breite für Suchfeld auf kleineren Bildschirmen */
        margin-bottom: 16px;
    }

    .button-container {
        width: 98%; /* Beispiel: Vollständige Breite für Button-Container auf kleineren Bildschirmen */
    }

    .paper-container {
        width: 98%; /* Beispiel: Vollständige Breite für Papier-Container auf kleineren Bildschirmen */
        overflow: hidden;
        margin-top: 16px;
    }

    .table-container {
        max-height: 768px; /* Beispiel: Reduziere die maximale Höhe für Tabellencontainer auf kleineren Bildschirmen */
        overflow: auto;
    }

    .table-cell-center {
        text-align: center;
    }
}

/* Weitere benutzerdefinierte Stile können hier hinzugefügt werden */
