.pageContainer{
    display: flex;
    width: 98%;
    margin-bottom: 2%;
}

.hoverContent {
    background-color: rgba(255, 255, 255, 0.8);
}

.captionTypography {
    position: absolute;
    top: 5px;
    right: 5px;
}

.fullscreenLink {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.boxContainer {
    height: 3vw;
    position: relative;
    transition: background-color 0.8s;
}

.boxContainer:hover {
    background-color: #B0C4DE;
}

.boxContainer.active {
    background-color: #9ba0a5;
}

.boxContainer.empty {
    background-color: #dddfe0;
}

.boxContainer.default{
    background-color: #414b53;
}

.boxItem {
    flex-basis: 6%;
}

/*----------- handy ---------- */

@media (max-width: 600px){

    .boxContainerAnsicht{
        margin-left: -20%;
        position: absolute;
    }

    .hoverContent {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .captionTypography {
        display: none;
    }

    .fullscreenLink {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1000;
    }

    .boxContainer {
        height: 9vw;
        position: relative;
        transition: background-color 0.8s;
    }

    .boxContainer:hover {
        background-color: #B0C4DE;
    }

    .boxContainer.active {
        background-color: #9ba0a5;
    }

    .boxContainer.empty {
        background-color: #dddfe0;
    }

    .boxContainer.default{
        background-color: #414b53;
    }

    .boxItem {
        flex-basis: 6%;
    }
}
