/* styles.css */

.paperContainer {
    padding: 8px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
}

.paperContainer:hover {
    background-color: #f1f1f1;
}

.flexContainer{
    display: flex;
}

@media (max-width: 768px) {
    .paperContainer {
        position: relative;
        border-radius: 20px;
        margin-top: 10px;
        padding: 8px;
        cursor: pointer;
        width: 80%;
    }

}