.content {
    margin-left: 90px;
    margin-top: 10px;
    flex-grow: 1;
}

h1 {
    transition: margin-left 0.3s;
}
.about-us-container {
    max-width: 1000px;
    padding: 20px;
    /*
    background-color: #f2f2f2;
    border-radius: 5px;
     */
    margin-left: auto;
    margin-right: auto;
}


h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
}
.content {
    margin-left: 90px;
    margin-top: 10px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .content {
        margin-left: 90px;
    }
    /* Weitere Anpassungen für kleinere Bildschirme */
    .specific-content {
        font-size: 2px;
    }
}

