.Search-ID {
    display: flex;
    justify-content: center;
    height: 20vh; /* Verwenden Sie 50vh, um es auf die obere Hälfte zu begrenzen */
}

.edit {
    display: flex;
    justify-content: center;
}

