/* styles.css */
.Titel {
    color: black;
}

.specific-content {
    margin-top: 20px;
}

.flex-container {
    display: flex;
}

.search-box {
    width: 80%;
    height: 55px;
    margin-bottom: 16px;
}

.button-container {
    width: 80%;
}
.table-container {
    max-height: 65vh;
    overflow: auto;
    width: 80%;
}

.sticky-header th{
    position: sticky;
    background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
    z-index: 10;
    top: 0;
}

.customButton {
    width: 100%;
    height: 55px;
    color: black;
}



/* Stile für Bildschirmbreite bis 768 Pixel */
@media (max-width: 768px) {
    .Titel {
        color: black; /* Beispiel: Änderung der Textfarbe für kleinere Bildschirme */
    }

    .specific-content{
        margin-top: 16px; /* Beispiel: Änderung des oberen Randes für kleinere Bildschirme */
    }

    .search-box {
        width: 98%; /* Beispiel: Vollständige Breite für Suchfeld auf kleineren Bildschirmen */
        margin-bottom: 16px;
    }

    .button-container {
        width: 98%; /* Beispiel: Vollständige Breite für Button-Container auf kleineren Bildschirmen */
    }

    .paper-container {
        width: 98%; /* Beispiel: Vollständige Breite für Papier-Container auf kleineren Bildschirmen */
        overflow: hidden;
        margin-top: 16px;
    }

    .table-container {
        max-height: 768px; /* Beispiel: Reduziere die maximale Höhe für Tabellencontainer auf kleineren Bildschirmen */
        overflow: auto;
    }

    .table-cell-center {
        text-align: center;
    }
}


/* Weitere benutzerdefinierte Stile können hier hinzugefügt werden */
