.flex-container{
    display: flex;
}

.container {
    display: flex;
}

.buttonContainer{
    width: 30%;
    text-align: left;
}

.button{
    width: 100%;
    margin-bottom: 5% !important;
    display: block;
}


