/* styles.css */
.Titel {
    color: black;
}

.specific-content {
    margin-top: 20px;
}

.flex-container {
    display: flex;
}

.search-box {
    width: 80%;
    height: 55px;
    margin-bottom: 16px;
}

.button-container {
    width: 80%;
}
.table-container {
    max-height: 65vh;
    overflow: auto;
    width: 80%;
}

.sticky-header th{
    position: sticky;
    background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
    z-index: 10;
    top: 0;
}

.customButton {
    width: 100%;
    height: 55px;
    color: black;
}


@media (max-width: 600px) {

    .search-box-div {
        position: relative;
        top: 10%;
        left: -20px;
        width: 200px;
        height: 5%;
    }

    .newMaterial-box {
        position: absolute;
        top: 18%;
        left: 1%;
        width: 98%;
    }


    .table-container {
        position: absolute;
        overflow: auto;
        top: 24%;
        left: 2%;
        width: 80% !important;
    }

    .sticky-header {
        position: sticky;
        top: 0;
        background-color: black;
        z-index: 1;
    }
}
/* Weitere benutzerdefinierte Stile können hier hinzugefügt werden */
