@media (min-width: 901px) {
    .flex-container{
        display: flex;
    }

    .container {
        display: flex;
    }

    .buttonContainer{
        width: 40%;
        text-align: left;
    }

    .button{
        width: 100% !important;
        margin-bottom: 5% !important;
        display: block;
    }
}

@media (max-width: 900px) {
    .flex-container{
        display: flex;
    }

    .container {
        display: flex;
    }

    .buttonContainer{
        width: 80%;
        text-align: left;
    }

    .button{
        width: 100% !important;
        margin-bottom: 5% !important;
        display: block;
    }

}

