.material-Data{
    margin-top: 2%;
    width: 90%;
}

.flex-container{
    display: flex;
}
.icon-align {
    margin-top: 20px;
}
.container {
    display: flex;
}

.content {
    width: 80%;
}

.inputField {
    width: 100%;
}

.buttonGroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
