@media (min-width: 1050px) {

    .eingabe {
        width: 80%;
        height: 50px;
    }

    .selectBox {
        width: 50% !important;
        height: 50px;
    }

    .materialHinzufuegen {
        margin-top: 0.5% !important;
        width: 80%;
        height: 50px;
    }

    .zurueck {
        margin-top: 0.5% !important;
        width: 80%;
        height: 50px;
        margin-bottom: 0.5% !important;
    }
}

@media (min-width: 900px) and (max-width: 1049px) {

    .eingabe {
        width: 80%;
        height: 50px;
    }

    .selectBox {
        width: 80% !important;
        height: 50px;
    }

    .materialHinzufuegen {
        margin-top: 1.5% !important;
        width: 80%;
        height: 50px;
    }

    .zurueck {
        margin-top: 1.5% !important;
        width: 80%;
        height: 50px;
        margin-bottom: 5% !important;
    }
}

@media (min-width: 800px) {

    .eingabe {
        width: 80%;
        height: 50px;
    }

    .selectBox {
        width: 80% !important;
        height: 50px;
    }

    .materialHinzufuegen {
        margin-top: 2% !important;
        width: 80%;
        height: 50px;
    }

    .zurueck {
        margin-top: 2% !important;
        width: 80%;
        height: 50px;
        margin-bottom: 5% !important;
    }
}

@media (min-width: 500px) {

    .eingabe {
        width: 80%;
        height: 50px;
    }

    .selectBox {
        width: 80% !important;
        height: 50px;
    }

    .materialHinzufuegen {
        margin-top: 3% !important;
        width: 80%;
        height: 50px;
    }

    .zurueck {
        margin-top: 3% !important;
        width: 80%;
        height: 50px;
        margin-bottom: 5% !important;
    }
}

@media (max-width: 500px) {

    .eingabe {
        width: 80%;
        height: 50px;
    }

    .selectBox {
        width: 80% !important;
        height: 50px;
    }

    .materialHinzufuegen {
        margin-top: 5% !important;
        width: 80%;
        height: 50px;
    }

    .zurueck {
        margin-top: 5% !important;
        width: 80%;
        height: 50px;
        margin-bottom: 5% !important;
    }
}