@media (min-width: 901px) {

    .pageContainer {
        display: flex;
        justify-content: center;
    }

    .img {
        width: 95%; /* 95% der Containerbreite */
        margin-bottom: 20px; /* Abstand zum Text */
        border-radius: 20px; /* Radius für runde Ecken */
    }

    .text p {
        width: 95%; /* Breite des Inhalts anpassen */
        background-color: #f0ffff; /* Hintergrundfarbe */
        border: 1px solid #ccc; /* Rahmen */
        margin-bottom: 50px;
        border-radius: 5px;
    }

    .person {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        margin-right: 150px;
        margin-bottom: 5% !important;
    }

    .person-pictures {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 200px) and (max-width: 900px){
    .pageContainer {
        display: flex;
        justify-content: center;
    }

    .img {
        width: 95%; /* 95% der Containerbreite */
        margin-bottom: 20px; /* Abstand zum Text */
        border-radius: 20px; /* Radius für runde Ecken */
    }

    .text p {
        width: 95%; /* Breite des Inhalts anpassen */
        background-color: #f0ffff; /* Hintergrundfarbe */
        border: 1px solid #ccc; /* Rahmen */
        margin-bottom: 50px;
    }

    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-wrapper {
        margin: 10px;
        text-align: center;
    }

    .person {
        width: 200px;
        height: auto;
        border-radius: 50%;
    }

    .description {
        margin-top: 5px;
        font-size: 14px;
    }

}


@media (min-width: 200px) and (max-width: 600px) {
    .frontend-container {
        width: 100%;
        margin-left: -15%;
    }
}